.admin-menu-section .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.admin-menu-section .container .add-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    width: 100%;
}

.admin-menu-section .container .add-header .add-menu-btn {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}