.main-title {
    margin: 2rem 0;
    text-align: center;
    font-family: var(--secondFontFamily);
    font-size: 3.5rem;
    font-weight: 500;
}

/* Small screens (up to 767px) */
@media only screen and (max-width: 767px) {
    .main-title {
        font-size: 2.5rem;
    }
}

/* Medium screens (768px - 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-title {
        font-size: 2.8rem;
    }
}