.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-container .spinner-r.MuiCircularProgress-root {
    color: var(--mainColor) !important;
}

.spinner-container .spinner-w.MuiCircularProgress-root {
    color: var(--main-white) !important;
}