
.testimonials-section .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.testimonials-section .container .testimonials-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}