

.notFound-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.notFound-section .container .notFound-img{
    width: 500px;
    height: 500px;
}

.notFound-section .container .notFound-img img{
    width: 100%;
}